sudo: false
language: c
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.8
      - g++-4.8
branches:
  only:
    - master
env:
  - NODE_V="0.10"
  - NODE_V="0.12"
  - NODE_V="4"
  - NODE_V="5"
  - NODE_V="6"
before_install:
  - rm -rf ~/.nvm ~/.npm && git clone https://github.com/creationix/nvm.git ~/.nvm
  - source ~/.nvm/nvm.sh && nvm install $NODE_V
  - if [[ $TRAVIS_OS_NAME == "linux" ]]; then export CC=gcc-4.8 && export CXX=g++-4.8; fi
install:
  - make
script:
  - make check
